.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: "Poppins", Arial, Helvetica, sans-serifs;
 }

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  gap: 32px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: url(../images/Group\ 27.svg);
  border: 2px;
  opacity: 40%;
  background-color: #fff;
}

.modal__title {
  margin: 0 0 32px;
  width: 169px;
  font-size: 32px;
  font-weight: 500;
  color:#212121;
  flex-flow: row;
  gap: 421px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  color: #212121B2;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  font-size: 20px;
  border: 1px solid #21212140;
  border-radius: 8px;
  gap: 10px;
  padding: 16px 12px;
  max-width: 700px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.modal__input::placeholder {
  color: #2121214d;
  font-size: 20px;
}

.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  border-radius: 8px;
  padding: 18px 32px;
  gap: 8px;
  background-color: #212121;
  color: #fCF5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 627px) {
  .modal__container{
    width: 300px;
    padding: auto;
    gap: 24px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__label {
    font-size: 16px;
  }

  .modal__input {
   font-size: 16px;
   display: flex;
   justify-content: space-between;
   width: 276px;
 }

  .modal__submit-btn {
    font-size: 16px;
    max-width: none;
 }
}